@import '_coin';

.CoinList {
  height: 100%;
  overflow: hidden;

  .title {
    font-size: 1.1em;
    color: $text-color;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 10vh;
    margin-bottom: 7%;

    &:after {
      content: ' ';
      border-bottom: 1px solid #39455c;
      display: flex;
      margin-top: 40px;
    }
  }
}
